html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left {
  flex-shrink: 0;
  width: 80px;
  background: #29323c;
}

#right {
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
}

.flexContainer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.top-icons {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #b1b1b1;
  font-size: 1.2em;
}

.top-icons svg {
  margin: auto 5px;
  cursor: pointer;
}

.top-icons svg:hover {
  color: rgb(27, 110, 219);
}

.radio-btn-group {
  position: absolute;
  right: 2%;
  bottom: 30%;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container svg{
  color: #b1b1b1;
  padding-top: 5px;
  font-size: 1.0rem;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px transparent solid;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: rgb(27, 110, 219);
}

.radio-container input:checked ~ .checkmark {
  background-color: transparent;
  border: 2px #b1b1b1 solid;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(177, 177, 177);
}
.radio-container:hover input:checked ~ .checkmark {
  background-color: rgb(27, 110, 219);
}

.radio-container:hover .checkmark:after {
  background-color: rgb(80, 80, 80);
}

.dropshadow {
  filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.6));
}

.branding-container {
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  background: rgb(27, 110, 219);
  padding: 10px;
}

.logo-container {
  margin: 0 auto;
}

.logo {
  width: 60px;
  margin-top: 5px;
}

.details-button {
  position: absolute;
  bottom: 50px;
}

.shoe-title {
  position: absolute;
  top: 10%;
  margin: 0;
  font-family: "Coda", cursive;
  color: white;
  font-size: 16rem;
}

.main-logo {
  position: absolute;
  height: 50%;
  top: 5%;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.shoe-img {
  position: absolute;
  height: 30%;
  top: 45%;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.main-btn {
  font-family: "Nunito", sans-serif;
  position: absolute;
  bottom: 5%;
  background-color: transparent;
  color: #b1b1b1;
  cursor: pointer;
  text-align: center;
  border-radius: 28px;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.5em;
  width: 200px;
  border: 2px rgb(128, 128, 128) solid;
}

.main-btn:hover {
  background-color: rgb(27, 110, 219);
  color: #fff;
  border-color: #fff;
}
